{% load static %}

<html>
    <head>
        <!-- Title -->
        <title>{% block title %}{% endblock title %}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen|Share&display=swap">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    
    <body>
        <!--Navbar-->
        {% include "navbar.html" %}
    
        <!--Background-->
        {% block background %}
        {% endblock%}
        
        <!--3 Gambar hexagon-->
        <div class="foto1">
            <img src="{% static 'foto1.png' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="foto2">
            <img src="{% static 'foto2.png' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="hexagon">
            <img src="{% static 'hexagon.png' %}" class="img-fluid" alt="Responsive image">
        </div>
        {% block ui %}{% endblock %}
        {% block skills %}{% endblock %}

        <!--Isi-->
        {% block isi %}
        {% endblock %}
    </body>
</html> 