{% extends "base.html" %}
{% load static %}

{% block title %}Education{% endblock %}

{% block background %}
<div class="bgFoto sekolah" class="img-fluid" alt="Responsive image"></div>
{% endblock %}

{% block ui %}
<div class="ui">
    <img src="{% static 'Makara_UI.png' %}" class="img-fluid" alt="Responsive image">
</div>
{% endblock %}

{% block isi %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4 atur5">
            <h2 class="kuning share">Education</h1>
        </div>
        <div class="w-100"></div>
        <div class="col-4 atur6">
            <div class="putih share">
                SD Tunas Karya 2
                <br> 
                (2007-2013)
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-4 atur7">
            <div class="putih share">
                SMP 4 Kristen Penabur
                <br> 
                (2013-2016)
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-4 atur8">
            <div class="putih share">
                SMA Negri 21 Jakarta
                <br> 
                (2016-2019)
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-4 atur9">
            <div class="putih share">
                Universitas Indonesia
                <br> 
                (2019-...)
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
