{% extends "base.html" %}
{% load static %}

{% block title %}Experience and Skills{% endblock %}

{% block background %}
<div class="bgFoto ngoding" class="img-fluid" alt="Responsive image"></div>
{% endblock %}

{% block skills %}
<div class="java">
    <img src="{% static 'java.png' %}" class="img-fluid" alt="Responsive image">
</div>
<div class="python">
    <img src="{% static 'python.png' %}" class="img-fluid" alt="Responsive image">
</div>
<div class="html">
    <img src="{% static 'webb.png' %}" class="img-fluid" alt="Responsive image">
</div>
{% endblock %}

{% block isi %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 atur10">
            <h1 class="kuning share">Experience</h1>
        </div>
        <div class="w-100"></div>
        <div class="col-6 box atur11">
            <div class="putih share">
                <h2>- Staff Humas Paskah 2017 SMAN 21</h2>
                <h2>- Staff Perlengkapan Retreat 2018 SMAN 21</h2>
                <h2>- Ketua Perlengkapan Natal 2018 SMAN 21</h2>
                <h2>- Departemen Olahraga Sekolah BEM Fasilkom</h2>  
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-6 atur12">
            <h1 class="kuning share">Skills</h1>
        </div>
        <div class="w-100"></div>
        <div class="col-6 box atur13">
            <div class="putih share">
                <h2>- Python Programming Language</h2>
                <h2>- Java Programming Language</h2>
                <h2>- Web Design</h2>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-6 atur12">
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}
