{% extends "base.html" %}
{% load static %}

{% block title %}Favourites{% endblock %}

{% block background %}
<div class="bgFoto sushi" class="img-fluid" alt="Responsive image"></div>
{% endblock %}

  
{% block isi %}
      <div class="container-fluid">
          <div class="row">
              <div class="col-4 atur5">
                  <h2 class="kuning share">Favourites</h1>
              </div>
              <div class="w-100"></div>
              <div class="col-4 atur6">
                  <div class="kuning share ukur">
                      Food
                      <br>
                  </div>
                  <div class="putih share">
                      Sushi
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="col-4 atur7">
                  <div class="kuning share ukur">
                      Drink
                      <br>
                  </div>
                  <div class="putih share">
                      Green Tea Frappuccino
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="col-4 atur8">
                  <div class="kuning share ukur   ">
                      Film
                      <br>
                  </div>
                  <div class="putih share">
                      Nanti Kita Cerita Tentang Hari Ini
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="col-4 atur9">
                  <div class="kuning share ukur   ">
                      Song
                      <br>
                  </div>
                  <div class="putih share">
                      Creep - Radiohead
                  </div>
              </div>
              <div class="col-2 atur14">
                <!-- Button trigger modal -->
  <button type="button" class="btn tombol kuning" data-toggle="modal" data-target="#exampleModal" style="background-color: #707070;">
    My Favourites carousel
    </button>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: #38393C;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #707070;">
        <div class="modal-header">
            <h5 class="modal-title kuning" id="exampleModalLabel">My Gallery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'sushi.jpg' %}" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'greentea.jpg' %}" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'nkcthi.jpg' %}" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'creep.jpg' %}" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>  
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn kuning" data-dismiss="modal" style="background-color: rgba(56, 57, 60, 0.692);">Close</button>
        </div>
        </div>
      </div>
</div>
</div>
  <div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}