{% extends "base.html" %}
{% load static %}

{% block title %}My Hobbies{% endblock %}

{% block background %}
<div class="bgFoto csgo" class="img-fluid" alt="Responsive image"></div>
{% endblock %}

{% block isi %}
<div class="container-fluid atur4">
    <div class="row">
        <div class="col-4">
            <h1 class="kuning tengah share">What I do for fun</h1>
        </div>

        <div class="w-100"></div>

        <div class="col-4 csblur fix" style="background-image: url('/static/cs.jpg');">
            <h1 class="kuning tengah share">Games</h1>
        </div>
        <div class="col-4"></div>
        <div class="col-2 top">
            <h1 class="kuning tengah share">Add Me</h1>
        </div>

        <div class="w-100"></div>

        <div class="col-4 spotblur" style="background-image: url('/static/spott.png');">
            <h1 class="kuning tengah share">Music</h1>
        </div>
        <div class="col-4"></div>
        <div class="col-2 mid">
            <h2 class="putih tengah share">Emlac</h2>
        </div>

        <div class="w-100"></div>

        <div class="col-4 vidblur" style="background-image: url('/static/vidd.jpg');">
            <h1 class="kuning tengah share">Stream</h1>
        </div>
        <div class="col-4"></div>
        <div class="col-2 bot">
            <h2 class="putih tengah share">Calmerjireh</h2>
        </div>

        <div class="w-100"></div>

        <div class="col-4">
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}