{% extends "base.html" %}
{% load static %}

{% block title %}My Profile {% endblock %}

{% block background %}<div class="bgFoto kopi" class="img-fluid" alt="Responsive image"></div>{% endblock %}

{% block isi %}
<div class="container-fluid rounded">
    <div class="row">
        <div class="col-4 box atur1">
            <h2 class="kuning share">About Me</h1>
            <div class="putih share ukur">
                Sekarang menempuh pendidikan di
                <br> 
                Universitas Indonesia jurusan Ilmu Komputer.
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="col-5"></div>
        <div class="col-2 putih tengah paragraf atur2 oxygen">
            <p>Calmeryan Jireh</p>
            <p>19 years old</p>
            <p>Favourite color:</p>
            <p><span style="color: black;">Black</span> & <span style="color: #4D66E6;">Blue</span></p>
        </div>
        <div class="w-100"></div>
        <div class="col-9"></div>
        <div class="col-2 atur3 box">
            <h2 class="kuning tengah share">Contact</h2>
            <div class="w-100"></div>
            <div class="tengah share">
                <br>
                <img src="{% static 'line.png' %}" class="img-fluid icon1" alt="Responsive image"><b>calmeryan</b>
                <br>
                <br>
                <img src="{% static 'insta.png' %}" class="img-fluid icon1" alt="Responsive image"><a href="https://www.instagram.com/calmeryan/"><b>calmeryan</b></a>
                <br>
                <br>
                <img src="{% static 'facebook.png' %}" class="img-fluid icon1" alt="Responsive image"><a href="https://id-id.facebook.com/calmeryan.jireh"><b>calmeryan</b></a>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
