<html>
    <body>
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'homepage:MyProfile' %}">My Profile</a>
              <ul class="nav navbar-brand navbar-right">
                <li><a href="{% url 'homepage:Hobbies' %}" class="navbar-brand">Hobbies</a></li>
              </ul>
              <ul class="nav navbar-brand navbar-right">
                <li><a href="{% url 'homepage:Education' %}" class="navbar-brand">Education</a></li>
              </ul>
              <ul class="nav navbar-brand navbar-right">
                <li><a href="{% url 'homepage:ExperienceAndSkills' %}" class="navbar-brand">Experience & Skills</a></li>
              </ul>
              <ul class="nav navbar-brand navbar-right">
                <li><a href="{% url 'homepage:Favourites' %}" class="navbar-brand">Favourites</a></li>
              </ul>
              <ul class="nav navbar-brand navbar-right">
                <li><a href="{% url 'homepage:Story1' %}" class="navbar-brand">Story1</a></li>
              </ul>
            </div>
        </nav>
    </body>
</html>