<!DOCTYPE html>
{% load static %}

<html>

<head>
    <title>
        Calmeryan Jireh' Profile
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body">
    <div style="background: black;">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'homepage:MyProfile' %}">My Profile</a>
            </div>
        </nav>
        <div class="container">
            <div class="m-3" style="position: relative">
                    <!-- Foto dan Nama -->
                    <span><img src="{% static 'FR13.jpg' %}" class="square" width="150"> </span>
                    <span class="text-light h2">Calmeryan Jireh</span>
            </div>

            <!-- Profile -->
            <div class="m-3 p-1 border rounded" style="background:rgb(83, 107, 155);">
                <b>Currently studying at University of Indonesia Computer Science</b>
                <div>Angkatan: Maung(2019)</div>
                <div>NPM: 1906292976</div>
            </div>
    
            <div class="m-3 p-2 border rounded" style="background: rgb(83, 107, 155);">
                <div class="h2">About Me</div>

                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text">
                            Sekarang menempuh pendidikan di Universitas Indonesia jurusan Ilmu Komputer.
                            Orang yang sedikit introvert namun mudah untuk diajak bicara dan bercanda. Hobi saya adalah
                            rebahan, namun terkadang mengisi waktu kosong dengan bermain game atau mendengarkan musik.
                        </p>
                    </div>
                </div>
                
                <div class="h2">Riwayat Pendidikan</div>
    
                <table style="width:75%">
                    <tr>
                        <th>Tahun</th>
                        <th>Pendidikan</th>
                        <th>Sekolah/Universitas</th>
                    </tr>
                    <tr>
                        <td>2019-...</td>
                        <td>Sarjana(S1)</td>
                        <td>Universitas Indonesia</td>
                    </tr>
                    <tr>
                        <td>2016-2019</td>
                        <td>SMA</td>
                        <td>SMAN 21 Jakarta</td>
                    </tr>
                    <tr>
                        <td>2013-2016</td>
                        <td>SMP</td>
                        <td>SMPK 4 Penabur</td>
                    </tr>
                    <tr>
                        <td>2007-2013</td>
                        <td>SD</td>
                        <td>SD Tunas Karya 2</td>
                    </tr>
                </table>

                <div class="h2">Social Media</div>
                <p><img src="{% static 'line1.jpg' %}" class="square" width="25" height="25"> calmeryan</p>
                <p><img src="{% static 'ig1.jpg' %}" class="square" width="25" height="25"><a href="https://www.instagram.com/calmeryan/"> calmeryan</a></p>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
        </nav>  
    </div>
</body>
</html>